/* rest */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-width: 1270px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
}

.debug {
    border: 1px solid lightgrey;
}

/* header */

nav {
    padding: 20px;
    margin: 0 20px;
}

nav .logo {
    vertical-align: middle;
}

nav ul {
    line-height: 30px;
}

nav ul li {
    display: inline-block;
    padding: 0 20px;
}

ul li a {
    text-decoration: none;
    color: black;
}

#inizia .btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    line-height: 15px;
}

/* jumbotron */
#jumbotron {
    background-color: rgb(90, 170, 197);
    padding: 0 90px;
}

#jumbotron h1 {
    font-size: 70px;
    padding-top: 50px;
}

.jumbotron-container .text {
    width: 30%;
}

.jumbotron-container .text p:first-child{
    font-size: 14px;
    padding: 50px 0 30px 0;
}

#annullamento {
    padding: 20px 0;
}

#prova-gratuita i {
    font-size: 30px;
    color: black;
}

.jumbotron-container .image-jumbo {
    width: 70%;
}

.image-jumbo img {
    width: 100%;
    position: relative;
    bottom: -50px;
}
/* <!-- /jumbotron --> */
/*  /header */


/* main */
main {
    padding-top: 150px;
}

/* section 1 */

/* titolo */
.titolo-section {
    font-size: 40px;
}

.cheatbox {
    padding: 30px 0;
}

.cerchio {
    width: 10px;
    height: 10px;
    border: 1px solid blue;
    display: inline-block;
    border-radius: 50%;
}

#annuale {
    border: 3px solid blue;
}

#mensile {
    border: 1px solid grey;
    margin-left: 5px;
}

/* box 1*/

.box {
    width: 30%;
    height: 1140px;
}

.box .promo{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}
/* promo header */
.promo-header, .promo-centrale, .promo-footer {
    padding: 25px;
}

.promo-header h4{
    font-size: 30px;
}

.promo-header .prezzo{
    font-weight: bold;
    display: inline-block;
}

.promo-header .tariffa{
    color: lightgrey;
}

.promo-header .prezzo, .promo-header .tariffa{
    padding-top: 10px;
}

/* promo centrale */
.contenitore-promo {
    padding: 10px 0;
}

.contenitore-promo i {
    width: 10%;
}

.contenitore-promo p {
    width: 90%;
}

#prova-30-giorni a{
    padding: 8px 30px;
    margin: 30px 10px;
}

.acquista-ora span {
    padding-bottom:30px ;
    border-bottom: 1px solid grey;
}
/* /promo centrale */

/* promo footer */
.promo-footer .punti-salienti {
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0;
}

.promo-footer i {
    color: blue;
}
/* /promo footer */


/* box 2 */
.box-central {
    margin: 0 50px;
}
/* /box 2 */
/* /section 1 */


/* section 2 */
/* box-footer  */
 .box-footer {
     margin-top: 50px;
     text-align: center;
     padding: 15px;
 }

 .contenitore-box-footer{
     padding: 30px;
 }

 .text-left p{
     padding: 15px 0 25px 0;
 }

 .text-left span{
    font-size: 15px;
}
/* /box-footer  */
/* /section 2 */


/* section 3 */
.contenitore-section-3{
    padding: 150px 0;
}

.contenitore-section-3 .left {
    width: 50%;
}

.contenitore-section-3 .left img {
    width: 100%;
}

.contenitore-section-3 .right {
    width: 50%;
    padding: 50px;
}

.contenitore-section-3 .right p{
    line-height: 1.7em;
    padding-top: 20px;
}

#trova-partner {
    color: black;
    border: 1px solid black;
    background-color: white;
    margin-top: 50px;
}
/* /section 3 */


/* section 4 */

.box-strumenti {
    margin-top: 100px;
    width: 30%;
    height: 500px;
}

.box-strumenti img{
    width: 100%;
}

.box-strumenti h3{
    font-size: 27px;
    padding-bottom: 25px;
}

.box-strumenti span{
    text-decoration: underline;
}
/* /section 4 */

/* section 5 */
.section-5 {
    padding-top: 100px;
}

.section-5 a{
    margin: 50px 0;
    display: inline-block;
}
/* /section 5 */

/* section 6 */
.contenitore-section-6 {
    background-color: lightgrey;
}

/* contenitore sinistra */
 /* box */
.contenitore-section-6 .sinistra, .contenitore-section-6 .destra {
    width: 30%;
    height: 400px;
}

.contenitore-section-6 .centrale{
    width: 40%;
    height: 400px;
}

.box-image {
    width: 50%;
}

.box-image svg{
    width: 50%;
    height: 200px;
    object-fit: scale-down;
    margin: 0 50px;
    fill: white;
}

.box-image img{
    width: 50%;
    height: 200px;
    object-fit: scale-down;
    margin: 0 50px;
    fill: white;
}

#designit {
    background-color: #14ca72;;
}

#arizona {
    background-color:   rgb(53, 2, 2)
}

#florida {
    background-color: rgba(60, 62, 206, 0.979);
}

#topps {
    background-color: orangered;
}
/* /contenitore sinistra */

/* contenitore centrale */

.centrale {
    padding: 50px;
}

.centrale .logo {
    width: 25%;
    padding-bottom: 30px;
}

.centrale p{
    padding: 30px 0;
}
/* /contenitore centrale */

/* contenitore destra */

#bicycle{
    background-color: rgb(214, 0, 0);
}

#hearts-corp{
    background-color: lightblue;
}

#lonely{
    background-color: blue;
}

#clear-channel{
    background-color: yellow;
}
/* /contenitore destra */

/* Prova Dropbox Business  */

.prova-business {
    background-color: lightblue;
}

.dropbox-business {
    padding: 150px 0;
}

.business-left {
    width: 65%;
    padding-right: 150px;
}

.business-right {
    width: 35%;
}

#prova-business {
    background-color: white;
    color: black;
    padding: 8px 50px;
}
 /* /Prova Dropbox Business */
 /* /section 6 */


 /* section 7 */
 .contenitore-domande {
    padding: 150px 0;
 }

.contenitore-domande h3{
    padding-bottom: 50px;
    font-size: 30px;
    border-bottom:1px solid grey;
}

.domande-frequenti {
    border-bottom:1px solid grey;
    padding: 30px 0;
}

.domande-frequenti p{
    font-weight: bold;
}

.domande-frequenti span{
    padding:0 50px;
}
/* /section 7 */
/* /main */

/* footer */
footer {
    background-color: black;
    color: white;
    padding: 100px ;
}

/* box-list */
.box-list {
    width: 20%;
    margin-bottom: 100px;
}

footer ul li {
    list-style: none;
    font-size: 12px;
    line-height: 2em;
}

footer ul li a {
    color: white;
}

.footer-title {
    font-weight: bold;
    font-size: 17px;
    padding-bottom:20px ;
}
/* /box-list */

.lingua span {
    border-top: 1px solid white;
    padding: 30px 0;
}

#lingua-parlata {
    background-color: black;
    border: 1px solid black;
    color: white;
}