/* rest */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
}

.debug {
    border: 1px solid black;
}

/* header */

nav {
    padding: 20px;
    margin: o 20px;
}

nav .logo {
    vertical-align: middle;
}

nav ul {
    line-height: 30px;
}

ul li {
    display: inline-block;
    padding: 0 20px;
}

ul li a {
    text-decoration: none;
}

#inizia .btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
}

/* jumbotron */
#jumbotron {
    background-color: rgb(90, 170, 197);
    padding: 0 210px;
}

#jumbotron h1 {
    font-size: 65px;
    padding-top: 50px;
}

.jumbotron-container .text {
    width: 35%;
}

.jumbotron-container .text p:first-child{
    font-size: 15px;
    padding: 50px 0 30px 0;
    line-height: 1.5em;
}

#annullamento {
    padding: 20px 0;
}

#prova-gratuita i {
    font-size: 30px;
    color: black;
}

.jumbotron-container .image-jumbo {
    width: 65%;
}

.image-jumbo img {
    width: 100%;
    position: relative;
    bottom: -50px;
}
/* <!-- /jumbotron --> */

/* section 1 */

/* titolo */
section h2 {
    font-size: 40px;
    padding-top: 150px;
}

.cheatbox {
    padding: 30px 0;
}

.cerchio {
    width: 10px;
    height: 10px;
    border: 1px solid blue;
    display: inline-block;
    border-radius: 50%;
}

#annuale {
    border: 3px solid blue;
}

/* box 1*/

.box {
    width: 30%;
    height: 900px;
}

.box .promo{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}
/* promo header */
.promo-header, .promo-centrale, .promo-footer {
    padding-top: 30px;
    padding-left: 30px;
}

.promo-header h4{
    font-size: 30px;
}

.promo-header .prezzo{
    font-weight: bold;
    display: inline-block;
}

.promo-header .tariffa{
    color: lightgrey;
}

.promo-header .prezzo, .promo-header .tariffa{
    padding-top: 10px;
}

/* promo centrale */
.contenitore-promo {
    padding: 10px 0;
}

.contenitore-promo i {
    width: 10%;
}

.contenitore-promo p {
    width: 90%;
}

#prova-30-giorni a{
    padding: 8px 48px;
    margin: 30px 0;
}

.acquista-ora span {
    padding-bottom:30px ;
    border-bottom: 1px solid grey;
}
/* /promo centrale */

/* promo footer */

.promo-footer .punti-salienti {
    font-weight: bold;
    font-size: 20px;
}

.promo-footer i {
    color: blue;
}
